{%extends 'base.html'%}
{% load static %}

{%block 'titulo'%}
    <title>Trajetória profissional</title>
{%endblock%}

{%block 'style'%}
    <link rel="stylesheet" href="{% static 'css/traj_profissional.css' %}">
    <style>
        #traj-profissional {
            background-color: #e5e9f0;
        }
    </style>
{%endblock%}

{%block 'script'%}
    <script src="{% static 'scripts/slider.js' %}" defer></script>
{%endblock%}

{%block 'conteudo'%}
    
<div>
    <img src="{% static 'img/traj_profissional/banner.png'%}" alt="banner" class="banner">
</div>

<div class="slider">

    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">

        <div class="slide prim">
            <p>Durante o meu ensino técnico em eletromecânica, pude participar de projetos de automação e 
                IOT. Destaco aqui o projeto que desenvolvi para um feira técnica do colégio, onde construí um 
                irrigador de solo automático com arduíno, funcionando de acordo com a umidade do solo. 
                Além do sensor de umidade, também foram usados um solenoide para controlar a bomda d'água e 
                leds indicadores para estimular uma análise visual direta da condição atual em que o solo se encontrava. Ao lado uma imagem do processo de montagem do protótipo e de testes desse projeto.
            </p>
            <img src="{% static 'img/traj_profissional/arduino.jpg' %}" alt="Projeto irrigação">
        </div>
        <div class="slide">
            <p>Chegando ao fim do meu curso técnico, realizei dois estágios obrigatórios, 
                sendo um deles como manutentor de eletrodomésticos e outro como mecânico. Finalizando o 
                estágio como mecânico, fui chamado para continuar trabalhando na oficina. Comecei fazendo 
                manutenções mais simples por não ter muito conhecimento na área, mas logo passei a realizar
                trabalhos mais complexos de montagem de motores. Trabalhei na empresa durante todo o ano de 
                2021, em paralelo com um semestre da faculdade (ainda em EAD).
            </p>
            <img src="{% static 'img/traj_profissional/mecanico.jpg'%}" alt="Mecânico">
        </div>
        <div class="slide">
            <p>Em 2021 iniciei o curso superior em Engenharia Elétrica, passando em 1° lugar pelo 
                enem na listagem de cotistas. Estou atualmente no terceiro período do curso, concluindo 
                com êxito todas as disciplinas até então. Dentre as disciplinas cursadas estão: cálculo 1 e 2, 
                geometria analítica e álgebra linear, computação 1, instalações elétricas, desenho elétrico, 
                mecânica geral 1, entre outras.
            </p>
            <img src="{% static 'img/traj_profissional/utfpr.jpg' %}" alt="UTFPR">
        </div>
        <div class="slide">
            <p>Para complementar meus estudos em programação (principalmente em Python), 
                sempre busco fazer alguns projetos para evoluir e aprender mais. Destaco aqui os 
                dois mais recentes que finalizei: uma calculadora com operações básicas (e interface 
                gráfica construída em Qt) e um validador e gerador de CPFs (de forma matemática).
                <a href="https://github.com/andreprs/processo-seletivo/blob/main/projetos/projetos.md" target="_blank">Aqui</a> é possível conferir o funcionamento desses projetos e também de outros.
            </p>
            <img src="{% static 'img/traj_profissional/codigo.png'%}" alt="Código Python">
        </div>


        <div class="auto">
            <div class="btn1"></div>
            <div class="btn2"></div>
            <div class="btn3"></div>
            <div class="btn4"></div>
        </div>

    </div>
    <div class="manual-nav">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
    </div>

</div>
{%endblock%}