@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

.banner{
    width: 100%;
}

.slider {
    position: relative;
    margin: 40px;
    margin-top: -50px;
    height: 450px;
    overflow: hidden;
    background-color: #e5e9f0;
    border-radius: 20px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3b4252;
    position: relative;
    margin-top: 60px;
    padding-left: 100px;
    padding-right: 40px;
    line-height: 32px;
    top: 25%;
    text-align: justify;
}

.slide {
    width: 25%;
    position: relative;
    display: flex;
    transition: 1s;
}

.slide img {
    margin-top: 70px;
    margin-right: 80px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.manual-nav {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #3b4252;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: #4c566a;
}

#radio1:checked ~ .prim {
    margin-left: 0;
}

#radio2:checked ~ .prim {
    margin-left: -25%;
}

#radio3:checked ~ .prim {
    margin-left: -50%;
}

#radio4:checked ~ .prim {
    margin-left: -75%;
}

.auto div {
    border: 2px solid #3b4252;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
}

.auto {
    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked ~ .auto .btn1 {
    background-color: #3b4252;
}

#radio2:checked ~ .auto .btn2 {
    background-color: #3b4252;
}

#radio3:checked ~ .auto .btn3 {
    background-color: #3b4252;
}

#radio4:checked ~ .auto .btn4 {
    background-color: #3b4252;
}
