{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/home/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/menu_horizontal.css'}">
    {%block 'titulo'%}{%endblock%}
    {%block 'style'%}{%endblock%}
    {%block 'script'%}{%endblock%}
</head>
<body>
    {% include 'parciais/_menu.html' %}

    {%block 'conteudo'%}{%endblock%}
</body>
</html>